<div class="container">
  <div class="row">
    <div class="col-md-2 mt-5">
      <%= render 'layouts/search_genre' %>
    </div>

    <div class="col-md-10 mt-5 text-center">
      <div class="carousel slide" data-ride="carousel" style="max-width: 100%; height: auto;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/cupcake_case.jpg" alt="First slide">
            <div class="carousel-caption">
              <h3>ようこそ、ながのCAKEへ！</h3>
              <p>このサイトは、ケーキ販売のECサイトになります。</p>
              <p>会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。</p>
            </div>
          </div>
         
        </div>
      </div>
      
      <br></br>
      
      <div class="row">
        <div class="col-md-12 my-3">
          <h3>新着商品</h3>
        </div>
      </div>

      <div class="row">
        <% @items.last(4).each do |item| %>
          <div class="col-md-3">
            <%= link_to item_path(item.id) do %>
              <p class="img-wrap"><%= image_tag item.get_image(200,200), fallback: "no_image.png" %></p>
            <% end %>
            <div class="card-body">
              <p><%= item.name %></p>
              <p><%= (item.price*1.1).floor %>円</p>
            </div>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-md-11 text-right mb-3">
          <h5><%= link_to "全ての商品を見る>", items_path %></h5>
        </div>
      </div>
    </div>
  </div>
</div>