<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 mb-3 offset-sm-1">
      <h3><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h3>
    </div>
  </div>

  <%= form_with model: @customer, url:admin_customer_path(@customer.id), method: :patch, local: true do |f| %>
  <div class="row">
    <div class="col-4">会員ID</div>
    <div class="col-8"><%= @customer.id %></div>
  </div>
  <div class="row">
    <div class="col"><%= f.label "氏名" %></div>
    <div class="col"><%= f.text_field :last_name, autofocus: true %></div>
    <div class="col"><%= f.text_field :first_name, autofocus: true %></div>
  </div>
  <div class="row">
    <div class="col"><%= f.label "フリガナ" %></div>
    <div class="col"><%= f.text_field :last_name_kana, autofocus: true %></div>
    <div class="col"><%= f.text_field :first_name_kana, autofocus: true %></div>
  </div>
  <div class="row">
    <div class="col-4"><%= f.label "郵便番号" %></div>
    <div class="col-8"><%= f.text_field :postal_code, autofocus: true %></div>
  </div>
  <div class="row">
    <div class="col-4"><%= f.label "住所" %></div>
    <div class="col-8"><%= f.text_field :address, :size => "49", autofocus: true %></div>
  </div>
  <div class="row">
    <div class="col-4"><%= f.label "電話番号" %></div>
    <div class="col-8"><%= f.text_field :phone_number, autofocus: true %></div>
  </div>
  <div class="row">
    <div class="col-4"><%= f.label "メールアドレス" %></div>
    <div class="col-8"><%= f.text_field :email, autofocus: true %></div>
  </div>
  <div class="row">
    <div class="col"><%= f.label "会員ステータス" %></div>
    <div class="col">
      <%= f.radio_button :is_deleted, :false %>
      <%= f.label :is_deleted, "有効" %>
    </div>
    <div class="col">
      <%= f.radio_button :is_deleted, :true %>
      <%= f.label :is_deleted, "退会" %>
    </div>
  </div>
  <div class="error">
    <% if @customer.errors.any? %>
      <%= @customer.errors.count %>件のエラーがあります
      <ul>
        <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <%= f.submit "変更を保存", class: "btn btn-warning" %>
  <% end %>
</div>