<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h4>配送先編集</h4>
    </div>
    <div class="col-sm-12 px-sm-0 mx-auto mb-5">
    <%= form_with model: @delivery, local: true do |f| %>
      <table>
        <tr>
          <div class="form-group">
            <th><%= f.label :postal_code, "郵便番号（ハイフンなし）" %></th>
            <th><%= f.text_field :postal_code %></th>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <th><%= f.label :address, "住所" %></th>
            <th><%= f.text_field :address, size: 40 %></th>
          </div>
        </tr>
        <tr>
          <div class="form group">
            <th><%= f.label :address_name, "宛名" %></th>
            <th><%= f.text_field :address_name %></th>
            <th><%= f.submit "変更内容を保存", class:"btn btn-success" %></th>
          </div>
        </tr>
      </table>
    <% end %>
    </div>
  </div>
</div>