<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 mb-3 offset-sm-1">
      <h3>注文履歴詳細</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 px-sm-0 mx-auto mb-5">

      <table>
        <tr>
          <th>購入者</th>
          <td><%= @order.customer.full_name %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>〒<%= @order.postal_code %> <%= @order.address %></td>
          <td><%= @order.address_name %></td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <%#=form_with model: @order, url:admin_order_path, method: :patch, local: true do |f| %> <td><%#= f.select :order_received_status, Order.order_received_status_i18n.invert %></td> <%#=form_with model: @order, url:admin_order_path, method: :patch, local: true do |f| %>
        <tr>
          <th>受注ステータス</th>
          <td><%#= f.select :order_received_status, Order.order_received_status_i18n.invert %></td>
        </tr>
      </table>
      <%# end %><%# end %>
    </div>
  </div>
</div>