<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 mb-3 offset-sm-1">
      <h3>注文情報入力</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 px-sm-0 mx-auto mb-5">
    <%= form_with model: @order, url:orders_confirm_path, method: :post,local: true do |f| %>
      <p><i class="fas fa-yen-sign"></i>支払い方法</p>
        <!--<%= f.radio_button :payment_method, "credit_card" %>-->
        <!--  <%= f.label :payment_method, "クレジットカード" %>-->
        <!--<%= f.radio_button :payment_method, "transfer" %>-->
        <!--  <%= f.label :payment_method, "銀行振込" %>-->
          <%= f.radio_button :payment_method, "credit_card", id: "credit_card_radio" %>
          <%= f.label "クレジットカード", for: "credit_card_radio" %>

          <%= f.radio_button :payment_method, "transfer", id: "order_payment_method" %>
          <%= f.label :payment_method, "銀行振込" %>

      <p>お届け先</p>
        <%= f.radio_button :address_option, 0, checked: true, id: "current_address" %>
          <%= f.label "ご自身の住所", for: "current_address" %><br>
          <table>
            <tr>
              <th>郵便番号</th>
              <td>〒<%= current_customer.postal_code %></td>
            </tr>
            <tr>
              <th>住所</th>
              <td><%= current_customer.address %></td>
            </tr>
            <tr>
              <th>氏名</th>
              <td><%= current_customer.last_name %><%= current_customer.first_name %></td>
            </tr>
          </table>
        <%= f.radio_button :address_option, 1, id: "registered_address" %>
        <%= f.label "登録済み住所から選択", for: "registered_address" %>
        <%= f.collection_select :delivery_id, current_customer.deliveries, :id, :delivery_display %><br>

        <%= f.radio_button :address_option, 2, id: "new_address" %>
          <%= f.label "新しいお届け先", for: "new_address" %>
          <table>
            <tr>
              <th><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></th>
              <td><%= f.text_field :postal_code %></td>
            </tr>
            <tr>
              <th><%= f.label :address, "住所"%></th>
              <td><%=f.text_field :address %></td>
            </tr>
            <tr>
              <th><%= f.label :address_name, "宛名"%></th>
              <td><%=f.text_field :address_name %></td>
            </tr>
          </table>
        <%= f.submit "確認画面へ進む", class: "btn btn-warning", style: "color: cornsilk;" %>
    <% end %>
    </div>
  </div>
</div>