<nav class="navbar navbar-expand-lg navbar-light bg-info border-bottom">
  <div class="container">
    <p class="navbar_brand">
      <%= link_to root_path do %>
        <%= image_tag("Nagano-Cake-Logo.png") %>
      <% end %>
    </p>
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
     <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
          <!-- 顧客がログインしている場合のメニュー -->
          <li class="nav-item">
            <%= link_to customers_mypage_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-user"></i> マイページ
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to items_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-store"></i> 商品一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to cart_items_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-shopping-cart"></i> カート
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>

          <% elsif admin_signed_in? %>
          <!-- 管理者がログインしている場合のメニュー -->
          <li class="nav-item">
            <%= link_to admin_items_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-store"></i> 商品一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_customers_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-users"></i> 顧客一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-file-alt"></i> 注文履歴一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_genres_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-tags"></i> ジャンル
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to about_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-link"></i> About
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>

          <% else %>
          <!-- ログインしていない場合のメニュー -->
          <li class="nav-item">
            <%= link_to about_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-link"></i> About
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to items_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-store"></i> 商品一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_customer_registration_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-user-plus"></i> 新規登録
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_customer_session_path, class: 'nav-link text-dark' do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
          <% end %>
        </ul>
    </div>
  </div>
</nav>

