<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCakeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>

    <!-- ジャンル選択フォーム -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-6 mt-4">
          <!-- ジャンル選択フォーム -->
          <%= form_tag(items_path, method: :get, class: "form-inline text-right") do %>
            <%#= select_tag :genre_id, options_for_select(@genres.map { |genre| [genre.name, genre.id] }), prompt: "ジャンルの選択権を与える", class: "form-control mr-2", style: "opacity: 0.5;" %>
            <%= submit_tag "検索", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <div class="row mt-4">
        <%# @items.each do |item| %>
        <%# end %>
      </div>
    </div>

    <div class="ml-5">
      <div class="text-center mt-3"><h5><strong><%= flash[:notice] %></strong></h5></div>
      <div class="text-center mt-3"><h5><strong><%= flash[:alert] %></strong></h5></div>
     </div>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>