<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCakeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xMEXxC2tj44ujow5JN7Y2q+v4zmdK5Ruy3XF70/4hAfY2m6tQKdnCzV8eYmN3Hzt8T46JaL9LvVM8y2DmCO2ow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
      <br></br>
    </header>
    <div class="ml-5">
      <div class="text-center mt-3"><h5><strong><%= flash[:notice] %></strong></h5></div>
      <div class="text-center mt-3"><h5><strong><%= flash[:alert] %></strong></h5></div>
    </div>
    <main class="min-vh-100">
      <div class="search">
        <%= render "layouts/search" %>
      </div>
      <%= yield %>
    </main>
    <footer class="bg-dark justify-center">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>